extends layout

block content
  div(class='main')
    h1(class='info') use /api/games/[week number] to get info about games from that week
    img(class='football' src='images/football.png' style='height:100%;width:100%;')
